@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", cursive;
}

a {
  color: #ffffff;
}
a:link, a:visited {
  color: #ffffff;
}
a:hover {
  color: #fcc719;
}

html {
  scroll-behavior: smooth;
}

.btn a {
  color: #1a1a1a;
}
.btn a:link, .btn a:visited {
  color: #1a1a1a;
}
.btn a:hover {
  color: #ffffff;
}

body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.0196078431), rgba(255, 255, 255, 0.0196078431)), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671067008/home/Fondo_Letras_obp51d.png");
  background-repeat: repeat-y;
  font-family: Inter;
}

.float {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 69px;
  height: 69px;
  bottom: 40px;
  right: 40px;
  background: #00b52c;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  z-index: 99;
}
.float:hover {
  color: #ffffff;
}

.my-float {
  transition: all 0.3s;
}
.my-float:hover {
  transform: scale(120%);
}
.my-float:active {
  color: #ffffff;
}

.menu {
  display: flex;
  align-items: flex-end;
  height: 150px;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.5) 0%, rgba(2, 0, 36, 0) 70%), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670971688/menu/fondo_madera_mpc1uo.png");
}
.menu .menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: #1a1a1a;
  z-index: 9;
  font-size: 1.2rem;
}
.menu .menu__list li:nth-child(2) {
  margin-bottom: 25px;
}

.footer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  height: 230px;
  background-image: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671070267/footer/Footbarfondo_s7dmgj.png");
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.25);
  z-index: 100;
}
.footer img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer h5 {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #ffffff;
  font-weight: 200;
}
.footer li {
  margin: 2vh 0;
}
.footer li i {
  font-size: 20px;
  margin-right: 1vw;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 80%;
  display: flex;
  flex-flow: column;
}
.container__header {
  display: flex;
  flex-flow: column;
  background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670980223/menu/Mascota_ssoa7u.png"), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670985135/menu/BannerFondo_phauic.svg");
  background-repeat: no-repeat;
  background-size: 210px, cover;
  background-position: 85% 100%, 0 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: -2vh;
  padding-left: 2vw;
  margin-right: -2vh;
  padding-right: 2vw;
  padding-bottom: 7vh;
  margin-bottom: -14vh;
  z-index: 2;
}
.container__header__welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.container__header__welcome__image {
  margin: 0 5vw;
  max-width: 30vw;
}
.container__header__welcome__image img {
  width: 100%;
}
.container__header__welcome__text {
  max-width: 20vw;
}
.container__header__welcome__text h1 {
  font-family: "Bebas Neue", cursive;
  line-height: 100%;
  font-size: 53px;
}
.container__header__welcome__text h2 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 200;
}
.container__header__welcome__text p {
  margin-top: 1rem;
  font-size: 22px;
}
.container__main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding-top: 15vh;
  margin-bottom: 10vh;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.container__main h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 53px;
  letter-spacing: 0.03em;
  text-align: center;
}
.container__main hr {
  height: 3px;
  border: none;
  background-color: #fcc719;
  margin: 0 auto 5rem;
  width: 25vw;
}
.container__main__variedades__menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
  margin-bottom: 15vh;
}
.container__main__variedades__menu__item:nth-child(1) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.28%, #000000 100%), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/4_ygwnp4.jpg");
}
.container__main__variedades__menu__item:nth-child(2) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.28%, #000000 100%), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/2_ldefok.jpg");
}
.container__main__variedades__menu__item:nth-child(3) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.28%, #000000 100%), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/5_qiwz9d.jpg");
}
.container__main__variedades__menu__item:nth-child(4) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.28%, #000000 100%), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/3_thyetc.jpg");
}
.container__main__variedades__menu__item:nth-child(5) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.28%, #000000 100%), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/1_da1sjd.jpg");
}
.container__main__variedades__menu__item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 216px;
  height: 169px;
}
.container__main__variedades__menu__item .btn {
  position: relative;
  top: 4vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 4vh;
  width: 171px;
  height: 55px;
  background-color: #fcc719;
  border: none;
  border-radius: 0 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
}
.container__main__roulette {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 15vh;
  align-items: center;
}
.container__main__roulette__placeholder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60vw;
  min-height: 60vh;
  overflow-x: hidden;
  overflow-y: visible;
  transition: all 0.3s ease;
  mask-image: to left, rgb(0, 0, 0), rgba(0, 0, 0, 0), linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0)), linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  mask-size: 50.2% 180%;
  -webkit-mask-size: 50.2% 180%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: left, right;
  -webkit-mask-position: left, right;
}
.container__main__roulette__placeholder img {
  margin: 0 10rem;
}
.container__main__roulette__placeholder .slick-track {
  transition: all 0.5s ease-in-out !important;
}
.container__main__roulette__placeholder .slick-list {
  transition: all 0.5s ease-in-out !important;
  transform: scale(0.6, 0.6) !important;
  height: 50vh;
  max-height: 100%;
  overflow: visible !important;
  padding: 0 60rem !important;
}
.container__main__roulette__placeholder .slick-track,
.container__main__roulette__placeholder .slick-list {
  perspective: 2000;
  -webkit-perspective: 2000;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.container__main__roulette__placeholder .slick-center {
  transition: all 0.5s ease-in-out !important;
  transform: scale(1.6, 1.6) !important;
  overflow-y: visible !important;
  background-image: radial-gradient(20rem at center, rgb(255, 255, 255), rgba(255, 255, 255, 0.801), rgba(255, 255, 255, 0)) !important;
  background-size: cover;
}
.container__main__roulette__placeholder .slick-active {
  transition: all 0.5s ease-in-out !important;
}
.container__main__roulette__placeholder .carousel__container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.container__main__roulette__placeholder .carousel__container .btn__flavor {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 4vh;
  width: 226px;
  height: 55px;
  background-color: #fcc719;
  border: none;
  border-radius: 0 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  cursor: pointer;
  text-align: center;
}
.container__main__roulette__placeholder .carousel__container .btn__hidden {
  display: none;
}
.container__main__roulette .btn {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 4vh;
  width: 226px;
  height: 55px;
  background-color: #fcc719;
  border: none;
  border-radius: 0 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  position: inherit;
  top: auto;
  cursor: pointer;
}
.container__main__roulette .link {
  color: #916d2a;
  text-decoration: underline;
  cursor: pointer;
}
.container__main__about {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10vh;
  max-width: 80vw;
}
.container__main__about__text {
  max-width: 30vw;
  text-align: justify;
  margin-right: 10vw;
}
.container__main__about__text h3 {
  text-align: left;
  line-height: 70%;
}
.container__main__about__text h4 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

@keyframes kaboom {
  0% {
    background-size: 0px, cover;
  }
  25% {
    background-size: 600px, cover;
  }
  50% {
    background-size: 0px, cover;
  }
  75% {
    background-size: 600px, cover;
  }
  100% {
    background-size: 0px, cover;
  }
}
.fireworks {
  background-image: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671716661/home/Animaci%C3%B3n_xgnbtz.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: kaboom 6s;
  animation-iteration-count: 1;
  transition: all 0.3s ease-in-out;
  background-size: 0;
}

.slick-slider div {
  transition: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.contact .contact__content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-width: 80%;
  background-color: #ffffff;
  margin-bottom: 10vh;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.contact .contact__content .contact__header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 35vh;
  width: 105%;
  background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670980223/menu/Mascota_ssoa7u.png"), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670985135/menu/BannerFondo_phauic.svg");
  background-repeat: no-repeat;
  background-size: 150px, cover;
  background-position: 85% 100%, 0 100%;
}
.contact .contact__content .contact__header .contact__tittle {
  font-size: 2rem;
  margin: 0 0 5% 10%;
}
.contact .contact__content .contact__header .contact__tittle h1 span {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}
.contact .contact__content .contact__body {
  width: 100%;
  height: 100%;
  text-align: center;
}
.contact .contact__content .contact__body h2 span {
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 5px 30px;
  border-bottom: 2px solid #fcc719;
}
.contact .contact__content .contact__body .contact__sections {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 55vh;
}
.contact .contact__content .contact__body .contact__sections .contact__form {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 15px;
  grid-template-areas: "name     email" "textarea textarea" "btn      btn";
}
.contact .contact__content .contact__body .contact__sections .contact__form .contact__name {
  grid-area: name;
  height: 70px;
}
.contact .contact__content .contact__body .contact__sections .contact__form .contact__email {
  grid-area: email;
  height: 70px;
}
.contact .contact__content .contact__body .contact__sections .contact__form .contact__message {
  grid-area: textarea;
}
.contact .contact__content .contact__body .contact__sections .contact__form .error {
  display: none;
  text-align: start;
  color: red;
}
.contact .contact__content .contact__body .contact__sections .contact__form .error--active {
  display: block;
}
.contact .contact__content .contact__body .contact__sections .contact__form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #916d2a;
  border-radius: 8px;
  resize: none;
  outline: none;
}
.contact .contact__content .contact__body .contact__sections .contact__form input {
  padding: 0 10px;
  border: 1px solid #916d2a;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  outline: none;
}
.contact .contact__content .contact__body .contact__sections .contact__form .validate--true {
  border-color: green;
}
.contact .contact__content .contact__body .contact__sections .contact__form .validate--false {
  border-color: red;
}
.contact .contact__content .contact__body .contact__sections .contact__form .btn-contact {
  grid-area: btn;
  justify-self: center;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 50px;
  width: 160px;
  background-color: #fcc719;
  font-weight: 800;
}
.contact .contact__content .contact__body .contact__sections .contact__form .btn-contact:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.contact .contact__content .contact__body .contact__sections .contact__form .btn-contact:active {
  transform: scale(0.9);
}
.contact .contact__content .contact__body .contact__sections .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 10%;
  font-size: 1rem;
}
.contact .contact__content .contact__body .contact__sections .contact__info h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.contact .contact__content .contact__body .contact__sections .contact__info li p > i {
  margin-right: 15px;
  font-size: 1.5rem;
  width: 30px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products__container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: #ffffff;
  margin-bottom: 10vh;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  min-height: 55vh;
}
.products__container__header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 35vh;
  width: 105%;
  background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670980223/menu/Mascota_ssoa7u.png"), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670985135/menu/BannerFondo_phauic.svg");
  background-repeat: no-repeat;
  background-size: 150px, cover;
  background-position: 85% 100%, 0 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.products__container__header__title {
  margin-left: 112px;
  margin-bottom: 149px;
}
.products__container__header__title h1 {
  font-family: "Bebas Neue", cursive;
  line-height: 100%;
  font-size: 53px;
}
.products__container__header__title h2 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 200;
}
.products__container__main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5vh 5vw;
}
.products__container__main__title h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 53px;
  letter-spacing: 0.03em;
  text-align: center;
}
.products__container__main__title hr {
  height: 3px;
  border: none;
  background-color: #fcc719;
  margin: 0 auto 5rem;
  width: 25vw;
}
.products__container__main__alfajores {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-bottom: 10vh;
}
.products__container__main__alfajores .alfajor__container {
  display: flex;
  flex-direction: column;
}
.products__container__main__alfajores .alfajor__container .slider__opener img {
  max-width: 198px;
}
.products__container__main__alfajores .alfajor__container .slider__opener:hover {
  cursor: pointer;
}

#clasicos {
  min-height: 470px;
}

#postres {
  min-height: 710px;
}

#varietales {
  min-height: 230px;
}

#frutales {
  min-height: 445px;
}

#licores {
  min-height: 450px;
}

.slider__container {
  width: 80vw;
  overflow-x: hidden;
}
.slider__container__header {
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670971688/menu/fondo_madera_mpc1uo.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-right: 25vw;
}
.slider__container__header h1 {
  font-family: "Bebas Neue", cursive;
  line-height: 100%;
  font-size: 53px;
  color: #ffffff;
  font-weight: 100;
  margin: 5vh auto 1vh;
}
.slider__container__header hr {
  height: 3px;
  border: none;
  background-color: #fcc719;
  margin: 0 auto 3rem;
  width: 25vw;
}
.slider__container__main {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #ffffff;
  padding: 2vh 5vw;
}
.slider__container__main img {
  max-width: 280px;
  margin: 5vh;
}
.slider__container__main p {
  font-size: 20px;
  font-weight: 400;
}
.slider__container__main__warn {
  color: #916d2a;
  font-size: 15px;
  font-weight: 600;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  transition: visibility 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.overlay .popup {
  margin: 70px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  width: 60vw;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.overlay .popup .close {
  position: absolute;
  cursor: pointer;
  top: 8vh;
  right: 4vw;
  transition: all 200ms;
  font-size: 3rem;
  font-weight: 200;
  text-decoration: none;
  color: #ffffff;
  z-index: 2;
}
.overlay .popup .close:hover {
  color: #fcc719;
}
.overlay .popup .content {
  max-height: 30%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
}
.overlay .popup .content .slick-next {
  right: 30px !important;
}
.overlay .popup .content .slick-next:before {
  background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671836132/slider/right_arrow_wpkiah.svg") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.overlay .popup .content .slick-prev {
  left: 30px !important;
}
.overlay .popup .content .slick-prev::before {
  background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671836132/slider/left_arrow_nyzvqc.svg") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.overlay .popup .content .slick-arrow {
  z-index: 2 !important;
  width: 60px !important;
  height: 60px !important;
}
.overlay .popup .content .slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1 !important;
}
.overlay .popup .content .slick-dots {
  position: absolute;
  left: 50%;
  display: inline-flex;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.overlay .popup .content .slick-dots li {
  visibility: hidden;
  width: 12px !important;
  margin: 0 3px !important;
  bottom: 5vh !important;
}
.overlay .popup .content .slick-dots button {
  display: block;
  width: 0.5rem !important;
  height: 0.5rem !important;
  padding: 0 !important;
  margin: 0 auto !important;
  border: none !important;
  border-radius: 100% !important;
  background-color: #916d2a !important;
  text-indent: -9999px !important;
}
.overlay .popup .content .slick-dots li.slick-active button {
  visibility: visible;
  display: block;
  background-color: #fcc719 !important;
  width: 0.7rem !important;
  height: 0.7rem !important;
  margin-top: -2px !important;
}
.overlay .popup .content .slick-dots li.slick-secondary button {
  visibility: visible;
  width: 0.6rem !important;
  height: 0.6rem !important;
  margin-top: -0.75px !important;
}/*# sourceMappingURL=index.css.map */