.home {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: $primary;
    margin-bottom: 10vh;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

    &__header {
      display: flex;
      flex-flow: column;
      height: 65vh;
      width: 105%;
      background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670980223/menu/Mascota_ssoa7u.png"),
        url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670985135/menu/BannerFondo_phauic.svg");
      background-repeat: no-repeat;
      background-size: 210px, cover;
      background-position: 90% 105%, 0 100%;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &__welcome {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        &__image__desktop {
          margin: 0 5vw;
          max-width: 30vw;

          img {
            max-width: 26.274vw;
          }
        }

        &__image__mobile {
          display: none;
        }

        &__text {
          max-width: 24vw;

          h2 {
            font-family: "Inter", sans-serif;
          }

          p {
            margin-top: 1rem;
          }
        }
      }
    }

    &__main {
      padding-top: 5vh;
      h3 {
        letter-spacing: 0.03rem;
        text-align: center;
      }

      hr {
        height: 3px;
        border: none;
        background-color: $tertiary;
        margin: 0 auto 5rem;
        width: 25vw;
      }

      &__variedades__menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 1vw;
        margin-bottom: 15vh;
        height: auto;

        &__item:nth-child(1) {
          @include overlay(
            url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/4_ygwnp4.jpg")
          );
        }

        &__item:nth-child(2) {
          @include overlay(
            url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/2_ldefok.jpg")
          );
        }

        &__item:nth-child(3) {
          @include overlay(
            url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/5_qiwz9d.jpg")
          );
        }

        &__item:nth-child(4) {
          @include overlay(
            url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/3_thyetc.jpg")
          );
        }

        &__item:nth-child(5) {
          @include overlay(
            url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671058393/home/variedades/1_da1sjd.jpg")
          );
        }

        &__item {
          flex: 0 0 auto;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          width: 11.35vw;
          height: 18.19vh;

          .btn {
            position: relative;
            top: 4vh;
            @include buttons(9vw, 5.92vh);
          }
        }
      }

      &__roulette {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-bottom: 15vh;
        align-items: center;

        &__placeholder {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          max-width: 60vw;
          min-height: 60vh;
          overflow-x: hidden;
          overflow-y: visible;
          transition: all 0.3s ease;
          mask-image: (to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
            linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
          -webkit-mask-image: linear-gradient(
              to left,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0)
            ),
            linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
          mask-size: 50.2% 180%;
          -webkit-mask-size: 50.2% 180%;
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          mask-position: left, right;
          -webkit-mask-position: left, right;

          img {
            margin: 0 10rem;
            width: 20rem;
          }

          .slick-list {
            transition: all ease-in-out;
            transform: scale(0.6, 0.6);
            overflow: visible !important;
            padding: 0 60rem !important;
          }

          .slick-center {
            transition: all ease-in-out;
            transform: scale(1.6, 1.6);
            overflow-y: visible !important;
            background-image: radial-gradient(
              20rem at center,
              rgb(255, 255, 255),
              rgba(255, 255, 255, 0.801),
              rgba(255, 255, 255, 0)
            ) !important;
            background-size: cover;
          }

          .slick-active {
            transition: all 2.999s ease-in-out;
          }

          .carousel__container {
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .btn__flavor {
              @include buttons(14.125rem, 3.438rem);
              cursor: pointer;
              text-align: center;
            }

            .btn__hidden {
              display: none;
            }
          }
        }

        .btn {
          @include buttons(14.125rem, 3.438rem);
          position: inherit;
          top: auto;
          cursor: pointer;
        }

        .link {
          width: 14.125rem;
          height: 3.438rem;
          color: $quaternary;
          text-decoration: underline;
          text-align: center;
          cursor: pointer;
        }
      }

      &__about {
        display: flex;
        justify-content: center;
        gap: 10vw;
        flex-flow: row;
        align-items: center;
        margin-bottom: 10vh;

        &__text {
          max-width: 30vw;
          text-align: justify;
          padding: 1rem;

          h3 {
            text-align: left;
            line-height: 70%;
          }

          h4 {
            font-family: "Inter", sans-serif;
            text-transform: uppercase;
            margin-bottom: 2vh;
          }
        }

        &__picture {
          img {
            height: 21.25rem;
          }
        }
      }
    }
  }
}

@keyframes kaboom {
  0% {
    background-size: 0px, cover;
  }

  25% {
    background-size: 18.75rem, cover;
  }

  50% {
    background-size: 37.5rem, cover;
  }

  75% {
    background-size: 18.75rem, cover;
  }

  100% {
    background-size: 0px, cover;
  }
}

.fireworks {
  background-image: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671716661/home/Animaci%C3%B3n_xgnbtz.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: kaboom 2.5s;
  animation-iteration-count: 1;
  transition: all 0.3s ease-in-out;
  background-size: 0;
}

.slick-slider div {
  transition: none;
}

@media (max-width: 1024px) {
  .home__container__main {
    &__variedades__menu {
      flex-direction: column;
      margin-bottom: 7.5vh;

      &__item {
        width: 270px;
        height: 112px;
        margin: auto auto 5vh auto;

        .btn {
          width: 200px;
          height: 43px;
          font-size: large;
        }
      }
    }
  }
  .container__whatsappbtn {
    display: none;
  }
}

@media (max-width: 912px) {
  .home__container {
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;

    &__header {
      padding: 2rem 0;
      width: 100%;
      height: 60rem;
      background-size: 125px, cover;
      background-position: 100% 100%, 0 100%;

      &__welcome {
        margin: 0;
        flex-direction: column;
        justify-content: center;

        &__image__desktop {
          display: none;
        }

        &__image__mobile {
          display: flex;
          justify-content: center;
          max-width: 80vw;
          margin: 0.5rem 0;
        }

        &__text {
          max-width: 70vw;

          h1 {
            font-size: 4.2rem;
            line-height: 100%;
          }

          h2 {
            font-size: 2.813rem;
          }

          p {
            font-size: 1.8rem;
            text-align: left;
          }
        }
      }
    }

    &__main {

      hr {
        width: 40vw;
      }
      &__roulette {
        margin-bottom: 7.5vh;

        &__titulo {
          hr {
            margin-bottom: 0;
            width: 40vw;
          }
        }

        &__placeholder {
          min-height: 50vh;
          max-width: 100vw;
        }
      }

      &__about {
        flex-direction: column;
        margin-bottom: 5vh;

        &__text {
          max-width: 90vw;
        }

        &__picture {
          img {
            max-width: 90vw;
          }
        }
      }
    }
  }
}
