.products {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: $primary;
    margin-bottom: 10vh;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    min-height: 55vh;

    &__header {
      display: flex;
      justify-content: start;
      align-items: center;
      height: 35vh;
      width: 105%;
      background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670980223/menu/Mascota_ssoa7u.png"),
        url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670985135/menu/BannerFondo_phauic.svg");
      background-repeat: no-repeat;
      background-size: 150px, cover;
      background-position: 85% 100%, 0 100%;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &__title {
          margin: 0 0 5% 10%;

        h1 {
          font-family: "Bebas Neue", cursive;
          line-height: 100%;
        }

        h2 {
          font-family: "Inter", sans-serif;
          text-transform: uppercase;
          font-weight: 200;
        }
      }
    }

    &__main {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      padding: 5vh 5vw;

      &__title {
        h3 {
          font-family: "Bebas Neue", cursive;
          letter-spacing: 0.03em;
          text-align: center;
        }

        hr {
          height: 3px;
          border: none;
          background-color: $tertiary;
          margin: 0 auto 5rem;
          width: 25vw;
        }
      }

      &__alfajores {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        margin-bottom: 10vh;

        .alfajor__container {
          display: flex;
          flex-direction: column;

          .slider__opener {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              max-width: 14rem;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

#clasicos {
  min-height: 50.5vh;
}

#postres {
  min-height: 76.4vh;
}

#varietales {
  min-height: 24.75vh;
}

#frutales {
  min-height: 23vh;
}

#licores {
  min-height: 23.5vh;
}

@media (max-width: 821px) {
  .products__container {
    width: 100%;

    &__header {
      width: 100%;
      max-height: 30rem;
      background-size: 90px, cover;
      background-position: 95% 105%, 0 100%;
      overflow: visible;

      &__title {
        margin-top: 5vh;
      }
    }

    &__main {
      &__alfajores {
        gap: 1.5rem;
        margin-bottom: 5vh;
      }

      .alfajor__container {
        width: 30%;

        .slider__opener {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.float {
  display: none;
}
