.slider__container {
  width: 80vw;
  overflow-x: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%),
      url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1670971688/menu/fondo_madera_mpc1uo.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-right: 25vw;

    h1 {
      font-family: "Bebas Neue", cursive;
      line-height: 100%;
      color: $txSecondary;
      font-weight: 100;
      margin: 5vh auto 1vh;
    }

    hr {
      height: 3px;
      border: none;
      background-color: $tertiary;
      margin: 0 auto 3rem;
      width: 25vw;
    }
  }

  &__main {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: $primary;
    padding: 2vh 5vw;

    img {
      max-height: 280px;
      margin: 5vh;
    }

    p {
      font-weight: 400;
    }

    &__warn {
      color: $quaternary;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  transition: visibility 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 60vw;
    position: relative;
    transition: all 0.5s ease-in-out;

    .close {
      position: absolute;
      cursor: pointer;
      top: 8vh;
      right: 4vw;
      transition: all 200ms;
      font-size: 3rem;
      font-weight: 200;
      text-decoration: none;
      color: $txSecondary;
      z-index: 2;

      &:hover {
        color: $tertiary;
      }
    }

    .content {
      max-height: 30%;
      overflow: hidden;
      margin: 0 auto;
      border-radius: 10px;

      .slick-next {
        right: 30px !important;

        &:before {
          background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671836132/slider/right_arrow_wpkiah.svg") !important;
          background-size: contain !important;
          background-repeat: no-repeat !important;
        }
      }

      .slick-prev {
        left: 30px !important;

        &::before {
          background: url("https://res.cloudinary.com/dgf6hvqia/image/upload/v1671836132/slider/left_arrow_nyzvqc.svg") !important;
          background-size: contain !important;
          background-repeat: no-repeat !important;
        }
      }

      .slick-arrow {
        z-index: 2 !important;
        width: 40px !important;
        height: 40px !important;

        &:before {
          content: "" !important;
          width: 100% !important;
          height: 100% !important;
          position: absolute;
          top: 10vh;
          left: 1vw;
          opacity: 1 !important;
        }
      }

      .slick-dots {
        position: absolute;
        left: 50%;
        display: inline-flex;
        margin: 0;
        padding: 1rem 0;
        list-style-type: none;

        li {
          visibility: hidden;
          width: 12px !important;
          margin: 0 3px !important;
          bottom: 5vh !important;
        }

        button {
          display: block;
          width: 0.5rem !important;
          height: 0.5rem !important;
          padding: 0 !important;
          margin: 0 auto !important;
          border: none !important;
          border-radius: 100% !important;
          background-color: $quaternary !important;
          text-indent: -9999px !important;
        }
      }

      .slick-dots li.slick-active button {
        visibility: visible;
        display: block;
        background-color: $tertiary !important;
        width: 0.7rem !important;
        height: 0.7rem !important;
        margin-top: -2px !important;
      }

      .slick-dots li.slick-secondary button {
        visibility: visible;
        width: 0.6rem !important;
        height: 0.6rem !important;
        margin-top: -0.75px !important;
      }
    }
  }
}